@import "../node_modules/uikit/src/less/uikit.theme.less";

* {
  box-sizing: border-box;
}


// variables.less

@global-font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
@global-border-radius: 6px;


// base.less

@base-body-font-weight: 300;
@base-heading-font-weight: 300;



// button.less

@button-text-transform: uppercase;

.hook-button() {
  font-weight: bold;
  border-radius: @global-border-radius;
  position: relative;

  // shiny bit (yeah I ripped off Nick)
  &:before {
    content: "";
    display: block;
    background-color: fade(white, 50%);
    position: absolute;
    top: 1px;
    right: @global-border-radius + 1px;
    left: @global-border-radius + 1px;
    height: 2px;
    border-radius: 1px;
  }
}

.hook-button-primary() {
  background: linear-gradient(125deg, @global-primary-background, #AB5EFD);
  box-shadow: 0 14px 25px fade(mix(@global-primary-background, #AB5EFD), 50%);
}



// card.less

@card-default-box-shadow: @global-large-box-shadow;

.hook-card() {
  border-radius: @global-border-radius;
}



// form.less

@form-label-font-size: 0.75rem;

.hook-form-label() {
  font-weight: 500;
  text-transform: uppercase;
}

.hook-form {
  border-radius: @global-border-radius;
}


// notification.less

.hook-notification-message-primary() {
  background-color: @notification-message-primary-color;
  color: @global-inverse-color;
}

.hook-notification-message-success() {
  background-color: @notification-message-success-color;
  color: @global-inverse-color;
}

.hook-notification-message-warning() {
  background-color: @notification-message-warning-color;
  color: @global-inverse-color;
}

.hook-notification-message-danger() {
  background-color: @notification-message-danger-color;
  color: @global-inverse-color;
}

.hook-notification-close() {
  color: @global-inverse-color;
  opacity: 0.6;

  &:hover {
    color: @global-inverse-color;
    opacity: 1;
  }
}


// utilities.less

.bg-muted:extend(.uk-background-muted) {}
.bg-secondary:extend(.uk-background-secondary) {}

.flex:extend(.uk-flex) {}
.flex-center:extend(.uk-flex-center) {}
.flex-middle:extend(.uk-flex-middle) {}
.flex-left:extend(.uk-flex-left) {}

.mb:extend(.uk-margin-bottom) {}
.mb-sm:extend(.uk-margin-small-bottom) {}
.ml:extend(.uk-margin-left) {}
.ml-sm:extend(.uk-margin-small-left) {}
.mr-sm:extend(.uk-margin-small-right) {}
.mt-lg:extend(.uk-margin-large-top) {}
.mx-auto:extend(.uk-margin-auto-left, .uk-margin-auto-right) {}

.p-lg:extend(.uk-padding-large) {}

.pos-center:extend(.uk-position-center) {}

.text-danger:extend(.uk-text-danger) {}
.text-muted:extend(.uk-text-muted) {}
.text-right:extend(.uk-text-right) {}
.text-small:extend(.uk-text-small) {}

.w-lg:extend(.uk-width-large) {}
